<div class="page_header">
    <div class="container-lg">
        <div class="fone">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <h1>
                        Snack
                    </h1>
                    <div class="breadcrumb">
                        <a asp-controller="Home">
                            <i class="fa-solid fa-house"></i>
                            Home
                        </a>
                        <span>
                            <i class="fa-solid fa-chevron-right"></i>
                            Shop
                        </span>
                        <span>
                            <i class="fa-solid fa-chevron-right"></i>
                            Snack
                        </span>
                    </div>
                </div>
                <div class="col-lg-9 text-end">
                    <ul class="tags_list">
                        <li>
                            <a href="~#">
                                <i class="fa-solid fa-xmark"></i>
                                Cabbage
                            </a>
                        </li>
                        <li>
                            <a class="active" href="~#">
                                <i class="fa-solid fa-xmark"></i>
                                Broccoli
                            </a>
                        </li>
                        <li>
                            <a href="~#">
                                <i class="fa-solid fa-xmark"></i>
                                Artichoke
                            </a>
                        </li>
                        <li>
                            <a href="~#">
                                <i class="fa-solid fa-xmark"></i>
                                Celery
                            </a>
                        </li>
                        <li>
                            <a href="~#">
                                <i class="fa-solid fa-xmark"></i>
                                Spinach
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-12">
                <div class="shop-product-filter">
                    <div class="total_product">
                        <p>
                            We found
                            <strong class="own_color">
                                29
                            </strong>
                            items for you!
                        </p>
                    </div>
                    <div class="right_filter">
                        <div class="sort-by-product me-2" onclick="Sled()">
                            <div class="sort-by-cover">
                                <div class="sort-by">
                                    <span>
                                        <i class="fa-solid fa-shapes"></i>
                                        Show:
                                    </span>
                                </div>
                                <div class="sort-by-dropdown-wrap">
                                    <span>
                                        50
                                        <i class="fa-solid fa-angle-down"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="drop_down">
                                <ul>
                                    <li>
                                        <a class="icon active" href="~#">
                                            50
                                        </a>
                                    </li>
                                    <li>
                                        <a href="~#">
                                            100
                                        </a>
                                    </li>
                                    <li>
                                        <a href="~#">
                                            150
                                        </a>
                                    </li>
                                    <li>
                                        <a href="~#">
                                            200
                                        </a>
                                    </li>
                                    <li>
                                        <a href="~#">
                                            All
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="sort-by-product">
                            <div class="sort-by-cover">
                                <div class="sort-by">
                                    <span>
                                        <i class="fa-solid fa-arrow-down-wide-short"></i>
                                        Sort by:
                                    </span>
                                </div>
                                <div class="sort-by-dropdown-wrap">
                                    <span>
                                        Featured
                                        <i class="fa-solid fa-angle-down"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="drop_down">
                                <ul>
                                    <li>
                                        <a class="icon active" href="~#">
                                            Featured
                                        </a>
                                    </li>
                                    <li>
                                        <a href="~#">
                                            Price: Low to High
                                        </a>
                                    </li>
                                    <li>
                                        <a href="~#">
                                            Price: High to Low
                                        </a>
                                    </li>
                                    <li>
                                        <a href="~#">
                                            Release Date
                                        </a>
                                    </li>
                                    <li>
                                        <a href="~#">
                                            Avg. Rating
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="products">
    <div class="container-fluid">
        <div class="row gy-4">
            <div class="col-lg-1-5 col-md-4 col-sm-6">
                <div class="product_card" data-id="1">
                    <div class="product_top">
                        <div class="product_image">
                            <a asp-controller="Product">
                                <img class="first_image" src="~/images/product-1-1.jpg" alt="">
                                <img class="second_image" src="~/images/product-1-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="sticker">
                            <span class="hot">Hot</span>
                        </div>
                        <div class="product_hover_center">
                            <a class="action_btn" href="~#">
                                <i class="far fa-heart"></i>
                                <div class="btn_content">
                                    <span>Add to wishlist</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="fas fa-random"></i>
                                <div class="btn_content">
                                    <span>Compare</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="far fa-eye"></i>
                                <div class="btn_content">
                                    <span>Quick view</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="product_bottom">
                        <div class="pro_bot_intro">
                            <a href="~#">
                                Snack
                            </a>
                        </div>
                        <h2>Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <span> (4.0)</span>
                        </div>
                        <div class="pro_bot_middle">
                            <span>
                                By
                                <a href="~#">
                                    NestFood
                                </a>
                            </span>
                        </div>
                        <div class="pro_bottom d-flex">
                            <div class="left">
                                <span>$28.85</span>
                                <s>$32.8</s>
                            </div>
                            <div class="right">
                                <a href="~#" class="addBasket">
                                    <i class="fas fa-shopping-cart"></i>
                                    Add
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-md-4 col-sm-6">
                <div class="product_card" data-id="2">
                    <div class="product_top">
                        <div class="product_image">
                            <a asp-controller="Product">
                                <img class="first_image" src="~/images/product-2-1.jpg" alt="">
                                <img class="second_image" src="~/images/product-2-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="sticker">
                            <span class="sale">Sale</span>
                        </div>
                        <div class="product_hover_center">
                            <a class="action_btn" href="~#">
                                <i class="far fa-heart"></i>
                                <div class="btn_content">
                                    <span>Add to wishlist</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="fas fa-random"></i>
                                <div class="btn_content">
                                    <span>Compare</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="far fa-eye"></i>
                                <div class="btn_content">
                                    <span>Quick view</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="product_bottom">
                        <div class="pro_bot_intro">
                            <a href="~#">
                                Hodo Foods
                            </a>
                        </div>
                        <h2>All Natural Italian-Style Chicken Meatballs</h2>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <span> (4.0)</span>
                        </div>
                        <div class="pro_bot_middle">
                            <span>
                                By
                                <a href="~#">
                                    Stouffer
                                </a>
                            </span>
                        </div>
                        <div class="pro_bottom d-flex">
                            <div class="left">
                                <span>$58.85</span>
                                <s>$42.8</s>
                            </div>
                            <div class="right">
                                <a href="~#" class="addBasket">
                                    <i class="fas fa-shopping-cart"></i>
                                    Add
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-md-4 col-sm-6">
                <div class="product_card" data-id="3">
                    <div class="product_top">
                        <div class="product_image">
                            <a asp-controller="Product">
                                <img class="first_image" src="~/images/product-3-1.jpg" alt="">
                                <img class="second_image" src="~/images/product-3-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="sticker">
                            <span class="new">New</span>
                        </div>

                        <div class="product_hover_center">
                            <a class="action_btn" href="~#">
                                <i class="far fa-heart"></i>
                                <div class="btn_content">
                                    <span>Add to wishlist</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="fas fa-random"></i>
                                <div class="btn_content">
                                    <span>Compare</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="far fa-eye"></i>
                                <div class="btn_content">
                                    <span>Quick view</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="product_bottom">
                        <div class="pro_bot_intro">
                            <a href="~#">
                                Snack
                            </a>
                        </div>
                        <h2>Angie’s Boomchickapop Sweet & Salty</h2>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <span> (4.0)</span>
                        </div>
                        <div class="pro_bot_middle">
                            <span>
                                By
                                <a href="~#">
                                    StarKist
                                </a>
                            </span>
                        </div>
                        <div class="pro_bottom d-flex">
                            <div class="left">
                                <span>$28.85</span>
                                <s>$32.8</s>
                            </div>
                            <div class="right">
                                <a href="~#" class="addBasket">
                                    <i class="fas fa-shopping-cart"></i>
                                    Add
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-md-4 col-sm-6">
                <div class="product_card" data-id="4">
                    <div class="product_top">
                        <div class="product_image">
                            <a asp-controller="Product">
                                <img class="first_image" src="~/images/product-4-1.jpg" alt="">
                                <img class="second_image" src="~/images/product-4-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="product_hover_center">
                            <a class="action_btn" href="~#">
                                <i class="far fa-heart"></i>
                                <div class="btn_content">
                                    <span>Add to wishlist</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="fas fa-random"></i>
                                <div class="btn_content">
                                    <span>Compare</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="far fa-eye"></i>
                                <div class="btn_content">
                                    <span>Quick view</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="product_bottom">
                        <div class="pro_bot_intro">
                            <a href="~#">
                                Vegetables
                            </a>
                        </div>
                        <h2>Foster Farms Takeout Crispy Classic</h2>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <span> (4.0)</span>
                        </div>
                        <div class="pro_bot_middle">
                            <span>
                                By
                                <a href="~#">
                                    NestFood
                                </a>
                            </span>
                        </div>
                        <div class="pro_bottom d-flex">
                            <div class="left">
                                <span>$28.85</span>
                                <s>$32.8</s>
                            </div>
                            <div class="right">
                                <a href="~#" class="addBasket">
                                    <i class="fas fa-shopping-cart"></i>
                                    Add
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-md-4 col-sm-6">
                <div class="product_card" data-id="5">
                    <div class="product_top">
                        <div class="product_image">
                            <a asp-controller="Product">
                                <img class="first_image" src="~/images/product-5-1.jpg" alt="">
                                <img class="second_image" src="~/images/product-5-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="sticker">
                            <span class="discount">-14%</span>
                        </div>

                        <div class="product_hover_center">
                            <a class="action_btn" href="~#">
                                <i class="far fa-heart"></i>
                                <div class="btn_content">
                                    <span>Add to wishlist</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="fas fa-random"></i>
                                <div class="btn_content">
                                    <span>Compare</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="far fa-eye"></i>
                                <div class="btn_content">
                                    <span>Quick view</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="product_bottom">
                        <div class="pro_bot_intro">
                            <a href="~#">
                                Pet Foods
                            </a>
                        </div>
                        <h2>Blue Diamond Almonds Lightly Naturel</h2>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <span> (4.0)</span>
                        </div>
                        <div class="pro_bot_middle">
                            <span>
                                By
                                <a href="~#">
                                    NestFood
                                </a>
                            </span>
                        </div>
                        <div class="pro_bottom d-flex">
                            <div class="left">
                                <span>$28.85</span>
                                <s>$32.8</s>
                            </div>
                            <div class="right">
                                <a href="~#" class="addBasket">
                                    <i class="fas fa-shopping-cart"></i>
                                    Add
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-md-4 col-sm-6">
                <div class="product_card" data-id="6">
                    <div class="product_top">
                        <div class="product_image">
                            <a asp-controller="Product">
                                <img class="first_image" src="~/images/product-6-1.jpg" alt="">
                                <img class="second_image" src="~/images/product-6-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="sticker">
                        </div>

                        <div class="product_hover_center">
                            <a class="action_btn" href="~#">
                                <i class="far fa-heart"></i>
                                <div class="btn_content">
                                    <span>Add to wishlist</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="fas fa-random"></i>
                                <div class="btn_content">
                                    <span>Compare</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="far fa-eye"></i>
                                <div class="btn_content">
                                    <span>Quick view</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="product_bottom">
                        <div class="pro_bot_intro">
                            <a href="~#">
                                Hodo Foods
                            </a>
                        </div>
                        <h2>Chobani Complete Vanilla Greek Bottle</h2>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <span> (4.0)</span>
                        </div>
                        <div class="pro_bot_middle">
                            <span>
                                By
                                <a href="~#">
                                    NestFood
                                </a>
                            </span>
                        </div>
                        <div class="pro_bottom d-flex">
                            <div class="left">
                                <span>$28.85</span>
                                <s>$32.8</s>
                            </div>
                            <div class="right">
                                <a href="~#" class="addBasket">
                                    <i class="fas fa-shopping-cart"></i>
                                    Add
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-md-4 col-sm-6">
                <div class="product_card" data-id="7">
                    <div class="product_top">
                        <div class="product_image">
                            <a asp-controller="Product">
                                <img class="first_image" src="~/images/product-7-1.jpg" alt="">
                                <img class="second_image" src="~/images/product-7-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="sticker">
                        </div>

                        <div class="product_hover_center">
                            <a class="action_btn" href="~#">
                                <i class="far fa-heart"></i>
                                <div class="btn_content">
                                    <span>Add to wishlist</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="fas fa-random"></i>
                                <div class="btn_content">
                                    <span>Compare</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="far fa-eye"></i>
                                <div class="btn_content">
                                    <span>Quick view</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="product_bottom">
                        <div class="pro_bot_intro">
                            <a href="~#">
                                Meats
                            </a>
                        </div>
                        <h2>Canada Dry Ginger Ale – 2 L Bottle</h2>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <span> (4.0)</span>
                        </div>
                        <div class="pro_bot_middle">
                            <span>
                                By
                                <a href="~#">
                                    NestFood
                                </a>
                            </span>
                        </div>
                        <div class="pro_bottom d-flex">
                            <div class="left">
                                <span>$28.85</span>
                                <s>$32.8</s>
                            </div>
                            <div class="right">
                                <a href="~#" class="addBasket">
                                    <i class="fas fa-shopping-cart"></i>
                                    Add
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-md-4 col-sm-6">
                <div class="product_card" data-id="8">
                    <div class="product_top">
                        <div class="product_image">
                            <a asp-controller="Product">
                                <img class="first_image" src="~/images/product-8-1.jpg" alt="">
                                <img class="second_image" src="~/images/product-8-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="sticker">
                            <span class="sale">Sale</span>
                        </div>

                        <div class="product_hover_center">
                            <a class="action_btn" href="~#">
                                <i class="far fa-heart"></i>
                                <div class="btn_content">
                                    <span>Add to wishlist</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="fas fa-random"></i>
                                <div class="btn_content">
                                    <span>Compare</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="far fa-eye"></i>
                                <div class="btn_content">
                                    <span>Quick view</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="product_bottom">
                        <div class="pro_bot_intro">
                            <a href="~#">
                                Snack
                            </a>
                        </div>
                        <h2>Encore Seafoods Stuffed Alaskan</h2>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <span> (4.0)</span>
                        </div>
                        <div class="pro_bot_middle">
                            <span>
                                By
                                <a href="~#">
                                    NestFood
                                </a>
                            </span>
                        </div>
                        <div class="pro_bottom d-flex">
                            <div class="left">
                                <span>$28.85</span>
                                <s>$32.8</s>
                            </div>
                            <div class="right">
                                <a href="~#" class="addBasket">
                                    <i class="fas fa-shopping-cart"></i>
                                    Add
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-md-4 col-sm-6">
                <div class="product_card" data-id="9">
                    <div class="product_top">
                        <div class="product_image">
                            <a asp-controller="Product">
                                <img class="first_image" src="~/images/product-9-1.jpg" alt="">
                                <img class="second_image" src="~/images/product-9-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="sticker">
                            <span class="hot">Hot</span>
                        </div>

                        <div class="product_hover_center">
                            <a class="action_btn" href="~#">
                                <i class="far fa-heart"></i>
                                <div class="btn_content">
                                    <span>Add to wishlist</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="fas fa-random"></i>
                                <div class="btn_content">
                                    <span>Compare</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="far fa-eye"></i>
                                <div class="btn_content">
                                    <span>Quick view</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="product_bottom">
                        <div class="pro_bot_intro">
                            <a href="~#">
                                Coffes
                            </a>
                        </div>
                        <h2>Gorton’s Beer Battered Fish Fillets</h2>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <span> (4.0)</span>
                        </div>
                        <div class="pro_bot_middle">
                            <span>
                                By
                                <a href="~#">
                                    Old El Paso
                                </a>
                            </span>
                        </div>
                        <div class="pro_bottom d-flex">
                            <div class="left">
                                <span>$28.85</span>
                                <s>$32.8</s>
                            </div>
                            <div class="right">
                                <a href="~#" class="addBasket">
                                    <i class="fas fa-shopping-cart"></i>
                                    Add
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-md-4 col-sm-6">
                <div class="product_card" data-id="10">
                    <div class="product_top">
                        <div class="product_image">
                            <a asp-controller="Product">
                                <img class="first_image" src="~/images/product-10-1.jpg" alt="">
                                <img class="second_image" src="~/images/product-10-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="sticker">
                        </div>

                        <div class="product_hover_center">
                            <a class="action_btn" href="~#">
                                <i class="far fa-heart"></i>
                                <div class="btn_content">
                                    <span>Add to wishlist</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="fas fa-random"></i>
                                <div class="btn_content">
                                    <span>Compare</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="far fa-eye"></i>
                                <div class="btn_content">
                                    <span>Quick view</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="product_bottom">
                        <div class="pro_bot_intro">
                            <a href="~#">
                                Cream
                            </a>
                        </div>
                        <h2> Haagen-Dazs Caramel Cone Ice Cream</h2>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <span> (4.0)</span>
                        </div>
                        <div class="pro_bot_middle">
                            <span>
                                By
                                <a href="~#">
                                    Tyson
                                </a>
                            </span>
                        </div>
                        <div class="pro_bottom d-flex">
                            <div class="left">
                                <span>$28.85</span>
                                <s>$32.8</s>
                            </div>
                            <div class="right">
                                <a href="~#" class="addBasket">
                                    <i class="fas fa-shopping-cart"></i>
                                    Add
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-md-4 col-sm-6">
                <div class="product_card" data-id="1">
                    <div class="product_top">
                        <div class="product_image">
                            <a asp-controller="Product">
                                <img class="first_image" src="~/images/product-1-1.jpg" alt="">
                                <img class="second_image" src="~/images/product-1-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="sticker">
                            <span class="hot">Hot</span>
                        </div>
                        <div class="product_hover_center">
                            <a class="action_btn" href="~#">
                                <i class="far fa-heart"></i>
                                <div class="btn_content">
                                    <span>Add to wishlist</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="fas fa-random"></i>
                                <div class="btn_content">
                                    <span>Compare</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="far fa-eye"></i>
                                <div class="btn_content">
                                    <span>Quick view</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="product_bottom">
                        <div class="pro_bot_intro">
                            <a href="~#">
                                Snack
                            </a>
                        </div>
                        <h2>Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <span> (4.0)</span>
                        </div>
                        <div class="pro_bot_middle">
                            <span>
                                By
                                <a href="~#">
                                    NestFood
                                </a>
                            </span>
                        </div>
                        <div class="pro_bottom d-flex">
                            <div class="left">
                                <span>$28.85</span>
                                <s>$32.8</s>
                            </div>
                            <div class="right">
                                <a href="~#" class="addBasket">
                                    <i class="fas fa-shopping-cart"></i>
                                    Add
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-md-4 col-sm-6">
                <div class="product_card" data-id="2">
                    <div class="product_top">
                        <div class="product_image">
                            <a asp-controller="Product">
                                <img class="first_image" src="~/images/product-2-1.jpg" alt="">
                                <img class="second_image" src="~/images/product-2-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="sticker">
                            <span class="sale">Sale</span>
                        </div>
                        <div class="product_hover_center">
                            <a class="action_btn" href="~#">
                                <i class="far fa-heart"></i>
                                <div class="btn_content">
                                    <span>Add to wishlist</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="fas fa-random"></i>
                                <div class="btn_content">
                                    <span>Compare</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="far fa-eye"></i>
                                <div class="btn_content">
                                    <span>Quick view</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="product_bottom">
                        <div class="pro_bot_intro">
                            <a href="~#">
                                Hodo Foods
                            </a>
                        </div>
                        <h2>All Natural Italian-Style Chicken Meatballs</h2>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <span> (4.0)</span>
                        </div>
                        <div class="pro_bot_middle">
                            <span>
                                By
                                <a href="~#">
                                    Stouffer
                                </a>
                            </span>
                        </div>
                        <div class="pro_bottom d-flex">
                            <div class="left">
                                <span>$58.85</span>
                                <s>$42.8</s>
                            </div>
                            <div class="right">
                                <a href="~#" class="addBasket">
                                    <i class="fas fa-shopping-cart"></i>
                                    Add
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-md-4 col-sm-6">
                <div class="product_card" data-id="3">
                    <div class="product_top">
                        <div class="product_image">
                            <a asp-controller="Product">
                                <img class="first_image" src="~/images/product-3-1.jpg" alt="">
                                <img class="second_image" src="~/images/product-3-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="sticker">
                            <span class="new">New</span>
                        </div>

                        <div class="product_hover_center">
                            <a class="action_btn" href="~#">
                                <i class="far fa-heart"></i>
                                <div class="btn_content">
                                    <span>Add to wishlist</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="fas fa-random"></i>
                                <div class="btn_content">
                                    <span>Compare</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="far fa-eye"></i>
                                <div class="btn_content">
                                    <span>Quick view</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="product_bottom">
                        <div class="pro_bot_intro">
                            <a href="~#">
                                Snack
                            </a>
                        </div>
                        <h2>Angie’s Boomchickapop Sweet & Salty</h2>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <span> (4.0)</span>
                        </div>
                        <div class="pro_bot_middle">
                            <span>
                                By
                                <a href="~#">
                                    StarKist
                                </a>
                            </span>
                        </div>
                        <div class="pro_bottom d-flex">
                            <div class="left">
                                <span>$28.85</span>
                                <s>$32.8</s>
                            </div>
                            <div class="right">
                                <a href="~#" class="addBasket">
                                    <i class="fas fa-shopping-cart"></i>
                                    Add
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-md-4 col-sm-6">
                <div class="product_card" data-id="4">
                    <div class="product_top">
                        <div class="product_image">
                            <a asp-controller="Product">
                                <img class="first_image" src="~/images/product-4-1.jpg" alt="">
                                <img class="second_image" src="~/images/product-4-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="product_hover_center">
                            <a class="action_btn" href="~#">
                                <i class="far fa-heart"></i>
                                <div class="btn_content">
                                    <span>Add to wishlist</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="fas fa-random"></i>
                                <div class="btn_content">
                                    <span>Compare</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="far fa-eye"></i>
                                <div class="btn_content">
                                    <span>Quick view</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="product_bottom">
                        <div class="pro_bot_intro">
                            <a href="~#">
                                Vegetables
                            </a>
                        </div>
                        <h2>Foster Farms Takeout Crispy Classic</h2>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <span> (4.0)</span>
                        </div>
                        <div class="pro_bot_middle">
                            <span>
                                By
                                <a href="~#">
                                    NestFood
                                </a>
                            </span>
                        </div>
                        <div class="pro_bottom d-flex">
                            <div class="left">
                                <span>$28.85</span>
                                <s>$32.8</s>
                            </div>
                            <div class="right">
                                <a href="~#" class="addBasket">
                                    <i class="fas fa-shopping-cart"></i>
                                    Add
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-md-4 col-sm-6">
                <div class="product_card" data-id="5">
                    <div class="product_top">
                        <div class="product_image">
                            <a asp-controller="Product">
                                <img class="first_image" src="~/images/product-5-1.jpg" alt="">
                                <img class="second_image" src="~/images/product-5-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="sticker">
                            <span class="discount">-14%</span>
                        </div>

                        <div class="product_hover_center">
                            <a class="action_btn" href="~#">
                                <i class="far fa-heart"></i>
                                <div class="btn_content">
                                    <span>Add to wishlist</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="fas fa-random"></i>
                                <div class="btn_content">
                                    <span>Compare</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="far fa-eye"></i>
                                <div class="btn_content">
                                    <span>Quick view</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="product_bottom">
                        <div class="pro_bot_intro">
                            <a href="~#">
                                Pet Foods
                            </a>
                        </div>
                        <h2>Blue Diamond Almonds Lightly Naturel</h2>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <span> (4.0)</span>
                        </div>
                        <div class="pro_bot_middle">
                            <span>
                                By
                                <a href="~#">
                                    NestFood
                                </a>
                            </span>
                        </div>
                        <div class="pro_bottom d-flex">
                            <div class="left">
                                <span>$28.85</span>
                                <s>$32.8</s>
                            </div>
                            <div class="right">
                                <a href="~#" class="addBasket">
                                    <i class="fas fa-shopping-cart"></i>
                                    Add
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-md-4 col-sm-6">
                <div class="product_card" data-id="6">
                    <div class="product_top">
                        <div class="product_image">
                            <a asp-controller="Product">
                                <img class="first_image" src="~/images/product-6-1.jpg" alt="">
                                <img class="second_image" src="~/images/product-6-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="sticker">
                        </div>

                        <div class="product_hover_center">
                            <a class="action_btn" href="~#">
                                <i class="far fa-heart"></i>
                                <div class="btn_content">
                                    <span>Add to wishlist</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="fas fa-random"></i>
                                <div class="btn_content">
                                    <span>Compare</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="far fa-eye"></i>
                                <div class="btn_content">
                                    <span>Quick view</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="product_bottom">
                        <div class="pro_bot_intro">
                            <a href="~#">
                                Hodo Foods
                            </a>
                        </div>
                        <h2>Chobani Complete Vanilla Greek Bottle</h2>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <span> (4.0)</span>
                        </div>
                        <div class="pro_bot_middle">
                            <span>
                                By
                                <a href="~#">
                                    NestFood
                                </a>
                            </span>
                        </div>
                        <div class="pro_bottom d-flex">
                            <div class="left">
                                <span>$28.85</span>
                                <s>$32.8</s>
                            </div>
                            <div class="right">
                                <a href="~#" class="addBasket">
                                    <i class="fas fa-shopping-cart"></i>
                                    Add
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-md-4 col-sm-6">
                <div class="product_card" data-id="7">
                    <div class="product_top">
                        <div class="product_image">
                            <a asp-controller="Product">
                                <img class="first_image" src="~/images/product-7-1.jpg" alt="">
                                <img class="second_image" src="~/images/product-7-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="sticker">
                        </div>

                        <div class="product_hover_center">
                            <a class="action_btn" href="~#">
                                <i class="far fa-heart"></i>
                                <div class="btn_content">
                                    <span>Add to wishlist</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="fas fa-random"></i>
                                <div class="btn_content">
                                    <span>Compare</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="far fa-eye"></i>
                                <div class="btn_content">
                                    <span>Quick view</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="product_bottom">
                        <div class="pro_bot_intro">
                            <a href="~#">
                                Meats
                            </a>
                        </div>
                        <h2>Canada Dry Ginger Ale – 2 L Bottle</h2>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <span> (4.0)</span>
                        </div>
                        <div class="pro_bot_middle">
                            <span>
                                By
                                <a href="~#">
                                    NestFood
                                </a>
                            </span>
                        </div>
                        <div class="pro_bottom d-flex">
                            <div class="left">
                                <span>$28.85</span>
                                <s>$32.8</s>
                            </div>
                            <div class="right">
                                <a href="~#" class="addBasket">
                                    <i class="fas fa-shopping-cart"></i>
                                    Add
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-md-4 col-sm-6">
                <div class="product_card" data-id="8">
                    <div class="product_top">
                        <div class="product_image">
                            <a asp-controller="Product">
                                <img class="first_image" src="~/images/product-8-1.jpg" alt="">
                                <img class="second_image" src="~/images/product-8-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="sticker">
                            <span class="sale">Sale</span>
                        </div>

                        <div class="product_hover_center">
                            <a class="action_btn" href="~#">
                                <i class="far fa-heart"></i>
                                <div class="btn_content">
                                    <span>Add to wishlist</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="fas fa-random"></i>
                                <div class="btn_content">
                                    <span>Compare</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="far fa-eye"></i>
                                <div class="btn_content">
                                    <span>Quick view</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="product_bottom">
                        <div class="pro_bot_intro">
                            <a href="~#">
                                Snack
                            </a>
                        </div>
                        <h2>Encore Seafoods Stuffed Alaskan</h2>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <span> (4.0)</span>
                        </div>
                        <div class="pro_bot_middle">
                            <span>
                                By
                                <a href="~#">
                                    NestFood
                                </a>
                            </span>
                        </div>
                        <div class="pro_bottom d-flex">
                            <div class="left">
                                <span>$28.85</span>
                                <s>$32.8</s>
                            </div>
                            <div class="right">
                                <a href="~#" class="addBasket">
                                    <i class="fas fa-shopping-cart"></i>
                                    Add
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-md-4 col-sm-6">
                <div class="product_card" data-id="9">
                    <div class="product_top">
                        <div class="product_image">
                            <a asp-controller="Product">
                                <img class="first_image" src="~/images/product-9-1.jpg" alt="">
                                <img class="second_image" src="~/images/product-9-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="sticker">
                            <span class="hot">Hot</span>
                        </div>

                        <div class="product_hover_center">
                            <a class="action_btn" href="~#">
                                <i class="far fa-heart"></i>
                                <div class="btn_content">
                                    <span>Add to wishlist</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="fas fa-random"></i>
                                <div class="btn_content">
                                    <span>Compare</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="far fa-eye"></i>
                                <div class="btn_content">
                                    <span>Quick view</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="product_bottom">
                        <div class="pro_bot_intro">
                            <a href="~#">
                                Coffes
                            </a>
                        </div>
                        <h2>Gorton’s Beer Battered Fish Fillets</h2>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <span> (4.0)</span>
                        </div>
                        <div class="pro_bot_middle">
                            <span>
                                By
                                <a href="~#">
                                    Old El Paso
                                </a>
                            </span>
                        </div>
                        <div class="pro_bottom d-flex">
                            <div class="left">
                                <span>$28.85</span>
                                <s>$32.8</s>
                            </div>
                            <div class="right">
                                <a href="~#" class="addBasket">
                                    <i class="fas fa-shopping-cart"></i>
                                    Add
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-md-4 col-sm-6">
                <div class="product_card" data-id="10">
                    <div class="product_top">
                        <div class="product_image">
                            <a asp-controller="Product">
                                <img class="first_image" src="~/images/product-10-1.jpg" alt="">
                                <img class="second_image" src="~/images/product-10-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="sticker">
                        </div>

                        <div class="product_hover_center">
                            <a class="action_btn" href="~#">
                                <i class="far fa-heart"></i>
                                <div class="btn_content">
                                    <span>Add to wishlist</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="fas fa-random"></i>
                                <div class="btn_content">
                                    <span>Compare</span>
                                </div>
                            </a>
                            <a class="action_btn" href="~#">
                                <i class="far fa-eye"></i>
                                <div class="btn_content">
                                    <span>Quick view</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="product_bottom">
                        <div class="pro_bot_intro">
                            <a href="~#">
                                Cream
                            </a>
                        </div>
                        <h2> Haagen-Dazs Caramel Cone Ice Cream</h2>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <span> (4.0)</span>
                        </div>
                        <div class="pro_bot_middle">
                            <span>
                                By
                                <a href="~#">
                                    Tyson
                                </a>
                            </span>
                        </div>
                        <div class="pro_bottom d-flex">
                            <div class="left">
                                <span>$28.85</span>
                                <s>$32.8</s>
                            </div>
                            <div class="right">
                                <a href="~#" class="addBasket">
                                    <i class="fas fa-shopping-cart"></i>
                                    Add
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="deals" class="pb-5 mb-5">
    <div class="container-fluid">
        <h1 class="text-start">Deals of the day</h1>
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="deals_box">
                    <div class="deals_top">
                        <div class="img_box">
                            <a asp-controller="Product">
                                <img src="~/images/banner-5.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="deals_bottom">
                        <div class="deal_time">
                            <span class="count_down">
                                <span class="own_color">
                                    1112
                                </span>
                                <span>
                                    Days
                                </span>
                            </span>
                            <span class="count_down">
                                <span class="own_color">
                                    20
                                </span>
                                <span>
                                    Hours
                                </span>
                            </span>
                            <span class="count_down">
                                <span class="own_color">
                                    20
                                </span>
                                <span>
                                    Mins
                                </span>
                            </span>
                            <span class="count_down">
                                <span class="own_color">
                                    21
                                </span>
                                <span>
                                    Sec
                                </span>
                            </span>
                        </div>
                        <div class="deal_content">
                            <h2>
                                <a href="~#">
                                    Seeds of Change Organic Quinoa, Brown, & Red Rice
                                </a>
                            </h2>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <span> (4.0)</span>
                            </div>
                            <div class="pro_bot_middle">
                                <span>
                                    By
                                    <a href="~#">
                                        NestFood
                                    </a>
                                </span>
                            </div>
                            <div class="pro_bottom d-flex">
                                <div class="left">
                                    <span>$28.85</span>
                                    <s>$32.8</s>
                                </div>
                                <div class="right">
                                    <a href="~#" class="addBasket">
                                        <i class="fas fa-shopping-cart"></i>
                                        Add
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="deals_box">
                    <div class="deals_top">
                        <div class="img_box">
                            <a asp-controller="Product">
                                <img src="~/images/banner-6.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="deals_bottom">
                        <div class="deal_time">
                            <span class="count_down">
                                <span class="own_color">
                                    1112
                                </span>
                                <span>
                                    Days
                                </span>
                            </span>
                            <span class="count_down">
                                <span class="own_color">
                                    20
                                </span>
                                <span>
                                    Hours
                                </span>
                            </span>
                            <span class="count_down">
                                <span class="own_color">
                                    20
                                </span>
                                <span>
                                    Mins
                                </span>
                            </span>
                            <span class="count_down">
                                <span class="own_color">
                                    21
                                </span>
                                <span>
                                    Sec
                                </span>
                            </span>
                        </div>
                        <div class="deal_content">
                            <h2>
                                <a href="~#">
                                    Perdue Simply Smart Organics Gluten
                                </a>
                            </h2>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <span> (4.0)</span>
                            </div>
                            <div class="pro_bot_middle">
                                <span>
                                    By
                                    <a href="~#">
                                        Old El Paso
                                    </a>
                                </span>
                            </div>
                            <div class="pro_bottom d-flex">
                                <div class="left">
                                    <span>$24.85</span>
                                    <s>$$26.8</s>
                                </div>
                                <div class="right">
                                    <a href="~#" class="addBasket">
                                        <i class="fas fa-shopping-cart"></i>
                                        Add
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="deals_box">
                    <div class="deals_top">
                        <div class="img_box">
                            <a asp-controller="Product">
                                <img src="~/images/banner-7.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="deals_bottom">
                        <div class="deal_time">
                            <span class="count_down">
                                <span class="own_color">
                                    1112
                                </span>
                                <span>
                                    Days
                                </span>
                            </span>
                            <span class="count_down">
                                <span class="own_color">
                                    20
                                </span>
                                <span>
                                    Hours
                                </span>
                            </span>
                            <span class="count_down">
                                <span class="own_color">
                                    20
                                </span>
                                <span>
                                    Mins
                                </span>
                            </span>
                            <span class="count_down">
                                <span class="own_color">
                                    21
                                </span>
                                <span>
                                    Sec
                                </span>
                            </span>
                        </div>
                        <div class="deal_content">
                            <h2>
                                <a href="~#">
                                    Signature Wood-Fired Mushroom
                                    Signature
                                </a>
                            </h2>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <span> (4.0)</span>
                            </div>
                            <div class="pro_bot_middle">
                                <span>
                                    By
                                    <a href="~#">
                                        Progresso
                                    </a>
                                </span>
                            </div>
                            <div class="pro_bottom d-flex">
                                <div class="left">
                                    <span>$12.85</span>
                                    <s>$13.8</s>
                                </div>
                                <div class="right">
                                    <a href="~#" class="addBasket">
                                        <i class="fas fa-shopping-cart"></i>
                                        Add
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 ic-hid">
                <div class="deals_box">
                    <div class="deals_top">
                        <div class="img_box">
                            <a asp-controller="Product">
                                <img src="~/images/banner-8.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="deals_bottom">
                        <div class="deal_time">
                            <span class="count_down">
                                <span class="own_color">
                                    1112
                                </span>
                                <span>
                                    Days
                                </span>
                            </span>
                            <span class="count_down">
                                <span class="own_color">
                                    20
                                </span>
                                <span>
                                    Hours
                                </span>
                            </span>
                            <span class="count_down">
                                <span class="own_color">
                                    20
                                </span>
                                <span>
                                    Mins
                                </span>
                            </span>
                            <span class="count_down">
                                <span class="own_color">
                                    21
                                </span>
                                <span>
                                    Sec
                                </span>
                            </span>
                        </div>
                        <div class="deal_content">
                            <h2>
                                <a href="~#">
                                    Simply Lemonade with Raspberry Juice
                                </a>
                            </h2>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <span> (4.0)</span>
                            </div>
                            <div class="pro_bot_middle">
                                <span>
                                    By
                                    <a href="~#">
                                        Yoplait
                                    </a>
                                </span>
                            </div>
                            <div class="pro_bottom d-flex">
                                <div class="left">
                                    <span>$15.85</span>
                                    <s>$16.8</s>
                                </div>
                                <div class="right">
                                    <a href="~#" class="addBasket">
                                        <i class="fas fa-shopping-cart"></i>
                                        Add
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="newsletter">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="newsletter_inner">
                    <div class="newsletter_content">
                        <h2>
                            Stay home & get your daily
                            <br>

                            needs from our shop

                        </h2>
                        <p>
                            Start You'r Daily Shopping with
                            <span>
                                Nest Mart
                            </span>
                        </p>
                        <form action="">
                            <input type="email" placeholder="Your email address">
                            <button class="btn" type="submit">Subscribe</button>
                        </form>
                    </div>
                    <img src="~/images/banner-9.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="featured">
    <div class="container-fluid">
        <div class="row gy-5">
            <div class="col-lg-1-5 col-md-4 col-sm-6 col-md-4 col-12 col-sm-6">
                <div class="banner_left">
                    <div class="banner_icon">
                        <img src="~/images/icon-1.svg" alt="">
                    </div>
                    <div class="banner_text">
                        <h3>
                            Best offers
                        </h3>
                        <p>
                            Orders $50
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-md-4 col-sm-6 col-md-4 col-12 col-sm-6">
                <div class="banner_left">
                    <div class="banner_icon">
                        <img src="~/images/icon-2.svg" alt="">
                    </div>
                    <div class="banner_text">
                        <h3>
                            Free delivery
                        </h3>
                        <p>
                            24/7 services
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-md-4 col-sm-6 col-md-4 col-12 col-sm-6">
                <div class="banner_left">
                    <div class="banner_icon">
                        <img src="~/images/icon-3.svg" alt="">
                    </div>
                    <div class="banner_text">
                        <h3>
                            Great deal
                        </h3>
                        <p>
                            When you sign
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-md-4 col-sm-6 col-md-4 col-12 col-sm-6">
                <div class="banner_left">
                    <div class="banner_icon">
                        <img src="~/images/icon-4.svg" alt="">
                    </div>
                    <div class="banner_text">
                        <h3>
                            Wide goods
                        </h3>
                        <p>
                            Mega Discounts
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-md-4 col-sm-6 col-md-4 col-12 col-sm-6">
                <div class="banner_left">
                    <div class="banner_icon">
                        <img src="~/images/icon-5.svg" alt="">
                    </div>
                    <div class="banner_text">
                        <h3>
                            Easy returns
                        </h3>
                        <p>
                            Within 30 days
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-md-4 col-sm-6 col-md-4 col-12 col-sm-6 d-xl-none">
                <div class="banner_left">
                    <div class="banner_icon">
                        <img src="~/images/icon-6.svg" alt="">
                    </div>
                    <div class="banner_text">
                        <h3>
                            Safe delivery
                        </h3>
                        <p>
                            Within 30 days
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Script{
    <script src="~/js/shop.js"></script>
}
