<div class="page-header">
    <div class="container-fluid">
        <div class="breadcrumb mb-0">
            <a href="~/home.html">
                <i class="fa-solid fa-house"></i>
                Home
            </a>
            <span>
                <i class="fa-solid fa-angle-right"></i>
            </span>
            Pages
            <span>
                <i class="fa-solid fa-angle-right"></i>
            </span>
            Contact
        </div>
    </div>
</div>
<div class="page_content pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row align-items-end mb-5">
                    <div class="col-lg-4">
                        <h4 class="mb-4">
                            How can help you ?
                        </h4>
                        <h1 class="mb-4">
                            Let us know how we can help you
                        </h1>
                        <p class="mb-4">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                            ullamcorper mattis, pulvinar dapibus leo.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                            ullamcorper mattis, pulvinar dapibus leo.
                        </p>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-6 mb-4">
                                <h5>
                                    01. Visit Feedback
                                </h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus
                                    nec ullamcorper mattis, pulvinar dapibus leo.
                                </p>
                            </div>
                            <div class="col-lg-6 mb-4">
                                <h5>
                                    02. Employer Services
                                </h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus
                                    nec ullamcorper mattis, pulvinar dapibus leo.
                                </p>
                            </div>
                            <div class="col-lg-6 mb-lg-0 mb-4">
                                <h5 class="own_color">
                                    03. Billing Inquiries
                                </h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus
                                    nec ullamcorper mattis, pulvinar dapibus leo.
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <h5>
                                    04.General Inquiries
                                </h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus
                                    nec ullamcorper mattis, pulvinar dapibus leo.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="google_map mb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="map text-center">
                    <p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26030.395396954013!2d138.70985379914703!3d35.360623737281166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6019629a42fdc899%3A0xa6a1fcc916f3a4df!2z0KTRg9C00LfQuNGP0LzQsA!5e0!3m2!1sru!2s!4v1646993424925!5m2!1sru!2s"
                                width="1586" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="info" class="mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="info_top">
                    <div class="row gy-5">
                        <div class="col-lg-4 col-md-4">
                            <div class="info_box">
                                <h4 class="own_color">
                                    Office
                                </h4>
                                <p>
                                    205 North Michigan Avenue, Suite 810
                                </p>
                                <p>
                                    Chicago, 60601, USA
                                </p>
                                <abbr class="mb-4" title="Phone">Phone:</abbr>
                                (123) 456-7890
                                <br>
                                <abbr title="Email">Email:</abbr>
                                mayilik@code.edu.az
                                <br>
                                <a class="btn_info" href="">
                                    <i class="fa-solid fa-location-dot"></i>
                                    View map
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="info_box">
                                <h4 class="own_color">
                                    Office
                                </h4>
                                <p>
                                    205 North Michigan Avenue, Suite 810
                                </p>
                                <p>
                                    Chicago, 60601, USA
                                </p>
                                <abbr class="mb-4" title="Phone">Phone:</abbr>
                                (123) 456-7890
                                <br>
                                <abbr title="Email">Email:</abbr>
                                mayilik@code.edu.az
                                <br>
                                <a class="btn_info" href="">
                                    <i class="fa-solid fa-location-dot"></i>
                                    View map
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="info_box">
                                <h4 class="own_color">
                                    Office
                                </h4>
                                <p>
                                    205 North Michigan Avenue, Suite 810
                                </p>
                                <p>
                                    Chicago, 60601, USA
                                </p>
                                <abbr class="mb-4" title="Phone">Phone:</abbr>
                                (123) 456-7890
                                <br>
                                <abbr title="Email">Email:</abbr>
                                mayilik@code.edu.az
                                <br>
                                <a class="btn_info" href="">
                                    <i class="fa-solid fa-location-dot"></i>
                                    View map
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info_bottom">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="info_left">
                                <h5>
                                    Contact form
                                </h5>
                                <h2>
                                    Drop Us a Line
                                </h2>
                                <p>
                                    Your email address will not be published. Required fields are marked *
                                </p>
                                <form action="">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="input-style">
                                                <input type="text" placeholder="First Name">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="input-style">
                                                <input type="email" placeholder="Your Email">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="input-style">
                                                <input type="tel" placeholder="Your Phone">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="input-style">
                                                <input type="tel" placeholder="Subject">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="text-area-style">
                                                <textarea name="message" placeholder="Message" id="" cols="30"
                                                          rows="10"></textarea>
                                            </div>
                                            <button class="submit" type="submit">
                                                Send message
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <img class="input_right_img" src="~/images/contact-2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="newsletter">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="newsletter_inner">
                    <div class="newsletter_content">
                        <h2>
                            Stay home & get your daily
                            <br>

                            needs from our shop

                        </h2>
                        <p>
                            Start You'r Daily Shopping with
                            <span>
                                Nest Mart
                            </span>
                        </p>
                        <form action="">
                            <input type="email" placeholder="Your email address">
                            <button class="btn" type="submit">Subscribe</button>
                        </form>
                    </div>
                    <img src="~/images/banner-13.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="featured">
    <div class="container-fluid">
        <div class="row gy-5">
            <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                <div class="banner_left">
                    <div class="banner_icon">
                        <img src="~/images/icon-1.svg" alt="">
                    </div>
                    <div class="banner_text">
                        <h3>
                            Best offers
                        </h3>
                        <p>
                            Orders $50
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                <div class="banner_left">
                    <div class="banner_icon">
                        <img src="~/images/icon-2.svg" alt="">
                    </div>
                    <div class="banner_text">
                        <h3>
                            Free delivery
                        </h3>
                        <p>
                            24/7 services
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                <div class="banner_left">
                    <div class="banner_icon">
                        <img src="~/images/icon-3.svg" alt="">
                    </div>
                    <div class="banner_text">
                        <h3>
                            Great deal
                        </h3>
                        <p>
                            When you sign
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                <div class="banner_left">
                    <div class="banner_icon">
                        <img src="~/images/icon-4.svg" alt="">
                    </div>
                    <div class="banner_text">
                        <h3>
                            Wide goods
                        </h3>
                        <p>
                            Mega Discounts
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                <div class="banner_left">
                    <div class="banner_icon">
                        <img src="~/images/icon-5.svg" alt="">
                    </div>
                    <div class="banner_text">
                        <h3>
                            Easy returns
                        </h3>
                        <p>
                            Within 30 days
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-md-4 col-12 col-sm-6 d-xl-none">
                <div class="banner_left">
                    <div class="banner_icon">
                        <img src="~/images/icon-6.svg" alt="">
                    </div>
                    <div class="banner_text">
                        <h3>
                            Safe delivery
                        </h3>
                        <p>
                            Within 30 days
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
